header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.grid-container {
  display: grid;
  grid-template-columns: 350px;
  grid-template-rows: auto;
  grid-template-areas: 'sidebar feed';
}

.sidebar {
  border: 1px solid black;
}

.main {
  border: 1px solid black;
}
