body {
  /* background-color: #111111; */
  font-family: Roboto, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 350px;
  grid-template-rows: auto;
  grid-template-areas: 'sidebar feed';
}
