.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  height: 500px;
  margin: 10px;
  border-radius: 12px;
}

.card-name {
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  width: 60%;
  font-size: 20px;
  font-weight: bolder;
}

.deleteBtn,
.editBtn {
  border: none;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
  padding: 10px;
}

.deleteBtn:hover {
  transform: scale(1.7);
}
.editBtn:hover {
  transform: scale(1.7);
}
